body {
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-size: 10rem;
}
a {
    background-color: greenyellow;
    border: none;
    border-radius: 10px;
    padding: 1.25rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: inherit;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
p {
    font-size: 2rem;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}